<%= simple_form_for @restaurant, html: { multipart: true } do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="errors">
      <p>
        <%= @restaurant.errors.count %>
        Prevented this log from saving
      </p>
      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel-body">
    <%= f.input :name, input_html: { class: 'form-control' } %>
    <%= f.input :address, input_html: { class: 'form-control' } %>
    <%= f.input :category, input_html: { class: 'form-control' } %>
    <%= f.input :lat, input_html: { class: 'form-control' } %>
    <%= f.input :lng, input_html: { class: 'form-control' } %>
    <%= f.input :image, input_html: { class: 'form-control' } %>
    <%= f.submit "Create Restaurant", class: "btn btn-primary" %>
  </div>

  <div id="foods">
    <%= f.simple_fields_for :foods do |food| %>
      <%= render 'food_fields', :f => food %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Food', f, :foods, class: "btn btn-default add-button" %>
    </div>
  </div>

  <div id="drinks">
    <%= f.simple_fields_for :drinks do |drink| %>
      <%= render 'drink_fields', :f => drink %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Drink', f, :drinks, class: "btn btn-default add-button" %>
    </div>
  </div>

<% end %>



