<div class="page_wrapper">
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <%= image_tag @restaurant.image.url(:thumb), class: "recipe_image" %>
    </div>
    <div class="col-md-6">
      <div>
        <h1>
          <%= @restaurant.name %>
        </h1>
        <h3>
          <%= @restaurant.address %>
        </h3>

        <%= link_to "Back", root_path, class: "btn btn-default btn-xs" %>
        <% if user_signed_in? %>
          <%= link_to "Edit", edit_restaurant_path, class: "btn btn-default btn-xs" %>
          <%= link_to "Delete", restaurant_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default btn-xs" %>
        <% end %>

      </div>
    </div>
  </div>

  <hr>

  <!-- <%= link_to "Add Food", root_path, class: "btn btn-default btn-xs" %> -->
  <div class="row">
    <div class="col-md-6">
      <div id="ingredients">
        <h2>Food</h2>

          <!-- Button trigger for food modal -->
          <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addFoodModal">
            Add Food
          </button>

          <!-- Food Modal -->
          <%= form_for(@restaurant) do |f| %>
            <div class="modal fade" id="addFoodModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Food</h4>
                  </div>

                  <div class="modal-body">
                    <%= render 'add_food_form' %>        
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <%= submit_tag "Save", class: "btn btn-primary"%>
                  </div>

                </div>
              </div>
            </div>
          <% end %>



        <ul>
          <% @restaurant.foods.each do |food| %>
            <li>
              <%= food.name %>
              <%= food.price %>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div id="ingredients">
        <h2>Drink</h2>

          <!-- Button trigger for drink modal -->
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addDrinkModal">
              Add Drink
            </button>

            

            <!-- Drink Modal -->
            <%= form_for(@restaurant) do |f| %>
              <div class="modal fade" id="addDrinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Add Food</h4>
                    </div>

                    <div class="modal-body">
                      <%= render 'add_drink_form' %>        
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <%= submit_tag "Save", class: "btn btn-primary"%>
                    </div>

                  </div>
                </div>
              </div>
            <% end %>

        <ul>
          <% @restaurant.drinks.each do |drink| %>
            <li>
              <%= drink.name %>
              <%= drink.price %>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>

</div>
