<div class="page_wrapper">
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <%= image_tag @restaurant.image.url(:thumb), class: "recipe_image" %>
    </div>
    <div class="col-md-6">
      <div>
        <h1>
          <%= @restaurant.name %>
        </h1>
        <h3>
          <%= @restaurant.address %>
        </h3>

        <%= link_to "Back", root_path, class: "btn btn-default btn-xs" %>
        <% if user_signed_in? %>
          <%= link_to "Edit", edit_restaurant_path, class: "btn btn-default btn-xs" %>
          <%= link_to "Delete", restaurant_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default btn-xs" %>
        <% end %>

      </div>
    </div>
  </div>

  <hr>
  
  <!-- <%= link_to "Add Food", root_path, class: "btn btn-default btn-xs" %> -->
  <div class="row">
    <div class="col-md-6">
      <div id="ingredients">
        <h2>Food</h2>
        <ul>
          <% @restaurant.foods.each do |food| %>
            <li>
              <%= food.name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <h2>Drink</h2>

  <%
=begin %>
  <div class="row">
    <div class="col-md-6">
      <div id="ingredients">
        <h2>Addon description</h2>
        <ul>
          <% @restaurant.foods.each do |food| %>
            <li>
              <%= food.name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div id="directions">
        <h2>Itinerary</h2>
        <ul>
          <% @restaurant.drinks.each do |drink| %>
            <li>
              <%= drink.step %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<%
=end %>

</div>
