<div class="page_wrapper">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @restaurant.name %>
      </h1>

      <%= image_tag @restaurant.image.url(:medium) %>
      
      <h2>
      	<li><%= @restaurant.address %></li>
      	<li><%= @restaurant.category %></li>
      	<li><%= @restaurant.lat %></li>
      	<li><%= @restaurant.lng %></li>
      </h2>
    </section>
  </aside>
</div>